{
    "openapi": "3.0.0",
    "info": {
        "title": "ParkimaPro API",
        "version": "0.1"
    },
    "servers": [
        {
            "url": "http://demo.pro.bmoov.co",
            "description": "API server"
        }
    ],
    "paths": {
        "/api/check/password": {
            "post": {
                "tags": [
                    "Login"
                ],
                "summary": "Check Password",
                "operationId": "427589bfe5064921605e220967cd2cae",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "password"
                                ],
                                "properties": {
                                    "password": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Issue the token and return the current user info",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "status": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/phone-auth/verification": {
            "put": {
                "tags": [
                    "Login"
                ],
                "summary": "Verify phone number",
                "operationId": "40acad40e4b8728cf65108482bbe276e",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "phone"
                                ],
                                "properties": {
                                    "phone": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Issue the token and return the current user info",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "status": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/phone-auth/verify": {
            "put": {
                "tags": [
                    "Login"
                ],
                "summary": "Verify otp",
                "operationId": "2fb2d401000cea7834eebe69750709a7",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "phone",
                                    "otp"
                                ],
                                "properties": {
                                    "phone": {
                                        "type": "integer"
                                    },
                                    "otp": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Issue the token and return the current user info",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "status": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/payment/options": {
            "get": {
                "tags": [
                    "Payment"
                ],
                "summary": " Get Payment Options",
                "operationId": "paymentOption",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get Payment Options",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/payment": {
            "post": {
                "tags": [
                    "Payment"
                ],
                "summary": "post Payment",
                "operationId": "makePostPayment",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "parking_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "license_plate",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "barcode",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "ticket_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "provider",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "default": "cash_payment"
                        }
                    },
                    {
                        "name": "ticket_value",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "check Shift",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/prepayment": {
            "post": {
                "tags": [
                    "Payment"
                ],
                "summary": "post Payment",
                "operationId": "makePrePayment",
                "requestBody": {
                    "description": "Station to create",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "parking_id",
                                    "plate_info",
                                    "license_plate",
                                    "ticket_duration",
                                    "phone_number"
                                ],
                                "properties": {
                                    "parking_id": {
                                        "type": "integer"
                                    },
                                    "plate_info": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "type": {
                                                    "type": "string",
                                                    "example": "tn"
                                                },
                                                "background": {
                                                    "type": "string",
                                                    "example": "background"
                                                },
                                                "inputPartOne": {
                                                    "type": "string",
                                                    "example": "---"
                                                },
                                                "inputPartTwo": {
                                                    "type": "string",
                                                    "example": "----"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "default": [
                                            {
                                                "type": "tn",
                                                "background": "background",
                                                "inputPartOne": "---",
                                                "inputPartTwo": "----"
                                            }
                                        ]
                                    },
                                    "license_plate": {
                                        "type": "string"
                                    },
                                    "ticket_duration": {
                                        "type": "integer"
                                    },
                                    "phone_number": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "check Shift",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/check/shift": {
            "post": {
                "tags": [
                    "Shift Configuration"
                ],
                "summary": "check Shift",
                "operationId": "checkShift",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "parking_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "check Shift",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/open/shift": {
            "post": {
                "tags": [
                    "Shift Configuration"
                ],
                "summary": "Open Shift",
                "operationId": "openShift",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "parking_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "starting_amount",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "check Shift",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/close/shift": {
            "post": {
                "tags": [
                    "Shift Configuration"
                ],
                "summary": "Close old Shift and open new one",
                "operationId": "closeShift",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "parking_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "starting_amount",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "check Shift",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": {
                                    "shift_id": "integer",
                                    "strat_shift_date": "datetime",
                                    "end_shift_date": "datetime",
                                    "total_revenue": "integer",
                                    "revenue_details": "string",
                                    "starting_amount": "integer",
                                    "total_amount": "integer"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/entryTicket/create": {
            "get": {
                "tags": [
                    "Ticket Classification"
                ],
                "summary": "Create Postpayment Ticket",
                "operationId": "createTicket",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "parking_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create entry ticket",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": {
                                    "parking_id": 0,
                                    "ticket_id": "string",
                                    "entry_datetime": "string",
                                    "barcode_data": "string",
                                    "qrcode_data": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/ticket/consult": {
            "get": {
                "tags": [
                    "Ticket Classification"
                ],
                "summary": "Create Postpayment Ticket",
                "operationId": "consultTicket",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "parking_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "barcode",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create entry ticket",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": {
                                    "parking_id": 0,
                                    "ticket_id": "string",
                                    "license_plate": "string",
                                    "ticket_entry_time": "string",
                                    "ticket_tariff_time": "string",
                                    "ticket_duration": "string",
                                    "original_amount": 0,
                                    "discount_amount": 0,
                                    "ticket_amount": 0
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "parameters": {
            "Accept": {
                "name": "Accept",
                "in": "header",
                "description": "The media type accepted by the client",
                "required": true,
                "schema": {
                    "type": "string",
                    "default": "application/json"
                }
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "description": "Authentication Bearer Token",
                "name": "Authorization",
                "in": "header",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    }
}